.highlight-text span{
	background: #dadada;
    padding: 1px 8px;
}
code,
.highlight-text span{
	background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
code span{
	color: #6f42c1;
}
pre{
	font-size: 100% !important;
}
.main-body p,
.other-info ul{
	margin-bottom: 16px;
    margin-top: 0;
}
.main-body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
}
body{
	line-height: 1.5;
	color:#24292e;
}
.code-blue{
	color:#032f62;
}
.code-head{
	color: #005cc5;
}
.container h3{
	font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}
.other-info ul{
	padding-left: 2em;
}
.other-info{
	margin-bottom: 5rem;
}
.other-info ul li{
	margin-top: 16px;
}
.other-info pre{
	margin-top: 20px;
}
.code-red{
	color:#d73a49;
}
@media (min-width: 768px){
	.container {
    	width: 870px !important;
	}
}
.header-div{
	margin-top: 5rem;
}
